<div class="landing">
  <%= image_tag 'Landing-Main.jpg', :class => "img-responsive" %>
</div>

<div class="white-box col-md-12">
  <div class= "col-md-1">
    <%= image_tag 'warranty.png', :class => "image-size-5" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="h12">Built to Last</h1>
    <p class="h11">
      Our number one focus is on quality.
      That means quality materials, quality construction, and quality customer service.
      We back that with a no hassle 8 Year 100% Satisfaction Guarantee.
    </p>
  </div>
</div>

<div class="grey-box col-md-12">
  <div class= "col-md-1">
    <%= image_tag 'paper.png', :class => "image-size-5" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="h12">More Power. More Sheets.</h1>
    <p class="h11">
      The most powerful mobile Electric Stapler on the market.
      Reliably staple up to 25 sheets Battery Power, and with the included AC Power Adapter.
      Stay mobile without sacrificing performance.
    </p>
  </div>
</div>

<div class="white-box col-md-12">
  <div class= "col-md-1">
    <%= image_tag 'jamfree.png', :class => "image-size-5" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="h12">Patented Jam-Free Design</h1>
    <p class="h11">
      One of the top issues other Electric Staplers is that they Jam all the time.
      We are changing the game with our patented Jam-Free design.
      This means no more jams, and no more wasted time and staples
    </p>
  </div>
</div>

<div class="grey-box col-md-12">
  <div class= "col-md-1">
    <%= image_tag 'strong.png', :class => "image-size-5" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="h12">Heavy Duty Construction</h1>
    <p class="h11">
      The EX-25 is designed to be a workhorse, performing day-in and day-out without jamming or breaking down.
      No fancy futuristic looks. No gimmicky features.
      Just simple, sleak, high quality construction.
    </p>
  </div>
</div>

<div class="white-box col-md-12">
  <div class= "col-md-1">
    <%= image_tag 'precision.png', :class => "image-size-5" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="h12">Precision Stapling Guide</h1>
    <p class="h11">
      Staple with complete accuracy.
      Precision guide allows the staplers throat depth to be adjusted between .25" and 1.5" by 1/10" intervals.
      Stay up to date with todays schools and organizations which require specific stapling depths.
    </p>
  </div>
</div>

<div class="grey-box col-md-12">
  <div class= "col-md-1">
    <%= image_tag 'logo-only-big.png', :class => "image-size-5" %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <h1 class="h12">Made with Eco-Friendly Materials </h1>
    <p class="h11">
      We manufacture our products with Eco-Friendly RoHS compliant materials.
      This means free from harmful chemicals found in many of todays electronic products.
      Sustainable practices help keep the World a greener place.
    </p>
  </div>
</div>
